@font-face {
    font-family: myFont1;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: myFont2;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

body {
    background-color:black;
    margin-left:8.5em; 
    margin-right:8.5em; 
}
.container1 {
    display:flex;
    background-color:#1F2937;
    height:auto;
    align-items: left;    
    flex-wrap:wrap;
    padding-left: 50px;
    padding-right:50px;
       
}

#btn1 {
    background-color:#3882F6;
    border-style:none;
    border-radius:3px;
    width:70px;
    height:20px;
    color:white;
    text-align:center;
    padding-top:5px;
    font-size:10px;
    
}
#logo {
    color: #F9FAF8;
    font-size:11px;
    font-weight: bolder;
    padding-right:200px;
    font-family: myFont1, sans-serif;
}
#h_one {
    color:#F9FAF8;
    font-family: myFont1, sans-serif;
    padding-right:40px;
    /* font-size:48px; */
    font-size:20px;
    font-weight: bolder;
}
p {
    color:white;
    font-size:11px;
    width:150px;
    font-family: myFont2, sans-serif;
    font-size:9px;
    
}
#img_here {
    background-color:rgb(121, 121, 121);
    height:70px;
    width:220px;
    color:white;
    font-size:9px;
    font-family:myFont2, sans-serif;
    text-align: center;
    padding-top:50px;
    
    
    
}

.header_link {
    color:white;
    padding-right:20px;
    padding-bottom:40px;
    font-size:9px;
    font-family: myFont2, sans-serif;
}

.container2 {
    display: flex;
    background-color:white;
    justify-content: center;
    flex-wrap: wrap;
    height:400px;
    flex-direction:row;
    padding:40px;
    gap:20px;

    
}

#info {
    font-family: myFont1, sans-serif;
    
    
}

.boxes {
    width:80px ;
    height:80px ;
    border-style:solid;
    border-width:1px;
    border-color:#3882F6;
    border-radius:5px;
    

}
.subtext {
    color:black;
}