@font-face {
    font-family: myFont1;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: myFont2;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: myFont3;
    src: url("fonts/Roboto/Roboto-LightItalic.ttf");
}


body {
    background-color:rgb(39, 31, 31);
    margin-left:8.5em; 
    margin-right:8.5em; 
}
.container1 {
    display:flex;
    background-color:#1F2937;
    align-items: left;    
    flex-wrap:wrap;
    padding-left: 80px;
    padding-right:50px;
    padding-bottom:30px;
    margin-top:-10px;
    
       
}

#btn1 {
    background-color:#3882F6;
    border-style:none;
    border-radius:3px;
    width:70px;
    height:20px;
    color:white;
    text-align:center;
    padding-top:0px;
    font-size:9px;
    font-family: myFont1, Arial, Helvetica, sans-serif;
    
    
}
#logo {
    color: #F9FAF8;
    font-size:11px;
    font-weight: bolder;
    padding-right:200px;
    font-family: myFont1, Arial, Helvetica, sans-serif;
    margin-left:5px;
}
#h_one {
    color:#F9FAF8;
    font-family: myFont1, Arial, Helvetica, sans-serif;
    padding-right:40px;
    font-size:20px;
    font-weight: bolder;
    width:170px;
}
p {
    color:white;
    font-size:11px;
    width:150px;
    font-family: myFont2, Arial, Helvetica, sans-serif;
    font-size:9px;
    
}
#img_here {
    background-color:rgb(131, 132, 141);
    height:70px;
    width:220px;
    color:white;
    font-size:9px;
    font-family: myFont2, Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top:50px;
    
    
    
}

.header_link {
    color:white;
    padding-right:20px;
    padding-bottom:40px;
    font-size:9px;
    font-family: myFont2, Arial, Helvetica, sans-serif;
}

.container1_5 {
    display: flex;
    background-color:white;
    justify-content: center;
    color:rgb(0, 0, 0);
    height:20px;
    
    
}



.container2 {
    display: flex;
    background-color:white;
    justify-content: center;
    height:130px;
    flex-direction:row;
    padding:40px;
    gap:22px;

    
}

#info {
    font-family: myFont1, Arial, Helvetica, sans-serif;
    
    
    
    
    
}

.boxes {
    display:flex;
    width:80px ;
    height:80px ;
    border-style:solid;
    border-width:2px;
    border-color:#3882F6;
    border-radius:5px;
    text-align: center;
    
    

}
.subtext {
    color:black;
    margin-top:90px;

    
}

.container3 {
    display: flex;
    flex-direction: row;
    background-color:#E5E7EB;
    justify-content: center;
    color:rgb(0, 0, 0);
    height:170px;
}

#p2 {
    color:black;
    font-family: myFont3, Arial, Helvetica, sans-serif;
    font-size:17px;
    width:350px;
    margin-left:130px;
}

#Thor {
    color:black;
    font-weight:900;
    font-size:11px;
    position:relative;
    top:90px;
    left:-125px;
    font-family: myFont1, Arial, Helvetica, sans-serif;
}

.container4 {
    display: flex;
    flex-direction: row;
    background-color:white;
    justify-content: center;
    height:165px;
}

#bluebox {
    width:480px;
    height:70px;
    background-color:#3882F6;
    border-radius:5px;
    margin-top:50px;
}

#bb1 {
    font-size:12px;
    font-family: myFont1, Arial, Helvetica, sans-serif;
    margin-left:50px;
}

#bb2 {
    margin-left:50px;
    margin-top:-10px;
    width:300px;
}

#bbbutton {
    position:relative;
    left: 370px;
    top:-30px;
    background-color:#3882F6;
    color:white;
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    border-color:white;
    font-size:9px;
    font-weight:300;
    font-family: myFont1, Arial, Helvetica, sans-serif;
    width:70px;

}

.container5 {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    background-color:#1F2937;
    height:50px;
    
}

#copyright {
    margin-top:25px;
    font-size:9px;
}
