@font-face {
    font-family: myFont1;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

body {
    background-color:black;
    margin-left:8.5em; 
    margin-right:8.5em; 
}
.container1 {
    display:flex;
    background-color:#1F2937;
    height:250px;
    /* align-items:flex-start; */
    justify-content: space-between;
    

    
}

#btn1 {
    background-color:#3882F6;
    border-style:none;
    border-radius:3px;
    width:70px;
    height:20px;
    color:white;
    text-align:center;
    padding-top:5px;
    font-size:10px;
    
}
#logo {
    color: #F9FAF8;
    font-size:11px;
    font-weight: bolder;
}
#h_one {
    color:white;
    font-family: myFont1, sans-serif;
}
p {
    color:white;
    font-size:10px;
}
#img_here {
    background-color:grey;
    height:100 ;
    width: 300;
    color:white;
    font-size:10px;
    font-family:myFont1, sans-serif;
}

.header_link {
    color:white;
}